In [1]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.master("local[4]") \
.appName("csv-uzer-sql") \
.config("spark.executor.memory","4g") \
.config("spark.driver.memory","2g") \
.getOrCreate()
sc = spark.sparkContext

In [2]:
retailDF = spark.read \
.option("header","True") \
.option("inferSchema","True") \
.option("sep",";") \
.csv("/home/taha/Downloads/OnlineRetail.csv")

In [12]:
# BU KOMUT DATAFRAME i ya dataset cache liyor tamponluyor
# bir dahaki cagirmalrada gidip okumak zorunda klamiyor
# hizlandiriyor bir nevi
retailDF.cache()

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: string, CustomerID: int, Country: string]

In [13]:
# sanal tablo olusturmak

retailDF.createOrReplaceTempView("tablo")

# SQL editoru

In [14]:
spark.sql("""

SELECT Country , SUM(UnitPrice) UnitPrice 
FROM tablo
GROUP BY Country
ORDER BY UnitPrice DESC
 



""").show(20)

+---------------+---------+
|        Country|UnitPrice|
+---------------+---------+
| United Kingdom|  94911.0|
|           EIRE|   9423.0|
|        Germany|   7930.0|
|         France|   6288.0|
|          Spain|   2927.0|
|        Finland|   1578.0|
|        Belgium|   1503.0|
|         Norway|   1451.0|
|    Switzerland|   1267.0|
|         Sweden|    921.0|
|         Cyprus|    890.0|
|    Netherlands|    874.0|
|          Italy|    823.0|
|       Portugal|    817.0|
|Channel Islands|    736.0|
|        Austria|    548.0|
|      Australia|    350.0|
|        Denmark|    246.0|
|          Malta|    210.0|
|         Poland|    200.0|
+---------------+---------+
only showing top 20 rows

In [15]:
spark.sql("""

SELECT Country , SUM(UnitPrice) UnitPrice 
FROM tablo
GROUP BY Country
ORDER BY UnitPrice DESC
 



""").show(20)

+---------------+---------+
|        Country|UnitPrice|
+---------------+---------+
| United Kingdom|  94911.0|
|           EIRE|   9423.0|
|        Germany|   7930.0|
|         France|   6288.0|
|          Spain|   2927.0|
|        Finland|   1578.0|
|        Belgium|   1503.0|
|         Norway|   1451.0|
|    Switzerland|   1267.0|
|         Sweden|    921.0|
|         Cyprus|    890.0|
|    Netherlands|    874.0|
|          Italy|    823.0|
|       Portugal|    817.0|
|Channel Islands|    736.0|
|        Austria|    548.0|
|      Australia|    350.0|
|        Denmark|    246.0|
|          Malta|    210.0|
|         Poland|    200.0|
+---------------+---------+
only showing top 20 rows

In [16]:
# ikinici calistirdigim daha kisa surede geldi