In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
.master("local[4]") \
.appName("Data") \
.config("spark.executor.memory","4g") \
.config("spark.driver.memory","2g") \
.getOrCreate()

In [4]:
sc = spark.sparkContext

In [5]:
hikaye_df = spark.read.text("/home/taha/Downloads/omer_seyfettin_forsa_hikaye.txt")

In [6]:
hikaye_df.show()

+--------------------+
|               value|
+--------------------+
|Ömer Seyfettin - ...|
|                    |
|Akdeniz’in, kahra...|
|                    |
|– Hayırdır inşall...|
|                    |
|Duvarın dibindeki...|
|                    |
|Bu, her gece uyku...|
|                    |
|                    |
|                    |
|Elli yaşına gelin...|
|                    |
|                    |
|                    |
|Gemisi altın, güm...|
|                    |
|                    |
|                    |
+--------------------+
only showing top 20 rows

from pyspark.sql.functions import explode ,split ,col

In [13]:
kelimeler = hikaye_df.select(explode(split(col("value")," ")).alias("value"))

In [14]:
kelimeler.show(3)

+---------+
|    value|
+---------+
|     Ömer|
|Seyfettin|
|        -|
+---------+
only showing top 3 rows

In [16]:
kelimeler.groupBy("value").count().show(10)

+------------+-----+
|       value|count|
+------------+-----+
|    gibiydi.|    3|
|        kırk|    2|
|     iniyor,|    1|
|  Sevinçten,|    1|
|   bilmeyen,|    1|
|  çıkacağım.|    1|
|    minimini|    1|
|        yılı|    2|
|      dikkat|    1|
|yaşındayken,|    1|
+------------+-----+
only showing top 10 rows

In [19]:
from pyspark.sql.functions import desc
kelimeler.groupBy("value").count().orderBy(desc("count")).show(10)

+-----+-----+
|value|count|
+-----+-----+
|     |   59|
|  bir|   33|
|    –|   31|
|  yıl|    8|
| diye|    6|
| Kırk|    5|
| onun|    5|
| Türk|    5|
|dedi.|    5|
|doğru|    5|
+-----+-----+
only showing top 10 rows